.font {
	&_size_xs {
		font-size: 0.75rem;
		/* 12px */
	}

	&_size_s {
		font-size: 0.875rem;
		/* 14px */
	}

	&_size_m {
		font-size: 1rem;
		/* 16px */
	}

	&_size_l {
		font-size: 1.25rem;
		/* 20px */
	}

	&_size_xl {
		font-size: 1.5rem;
		/* 24px */
	}

	&_size_2xl {
		font-size: 2rem;
		/* 32px */
	}

	&_size_3xl {
		font-size: 2.25rem;
		/* 36px */
	}

	&_size_4xl {
		font-size: 3.75rem;
		/* 60px */
	}


	/*weight*/
	&_weight_regular {
		font-weight: 400;
	}

	&_weight_medium {
		font-weight: 500;
	}

	&_weight_semi-bold {
		font-weight: 600;
	}

	&_weight_bold {
		font-weight: 700;
	}



	&_body_16B {
		font-weight: 600;
		font-size: 1rem;
	}

	&_body_16R {
		font-weight: 400;
		font-size: 1rem;
	}

	&_body_16I {
		font-style: italic;
		font-size: 1rem;
	}

	&_body_14M {
		font-weight: 500;
		font-size: 0.875rem;
	}

	&_body_14R {
		font-weight: 400;
		font-size: 0.875rem;
	}

	&_text_12SB {
		font-weight: 600;
		font-size: 0.75rem;
	}

	&_text_12R {
		font-weight: 400;
		font-size: 0.75rem;
	}

}