.title {
	font-family: "Rubik", system-ui;
	margin: 0;

	&_type {
		&_h1 {
			&_desktop {
				font-weight: 700;
				font-size: 3.75rem;
			}

			&_mobile {
				font-weight: 700;
				font-size: 2.25rem;
			}
		}

		&_h2 {
			font-weight: 600;
			font-size: 2rem;
		}

		&_h3 {
			font-weight: 600;
			font-size: 1.5rem;
		}

		&_h4 {
			font-weight: 500;
			font-size: 1.25rem;
		}

		&_h5 {
			font-weight: 400;
			font-size: 0, 875rem;
		}

	}
}