.button_theme_primary {
  background: var(--yellow);
  color: var(--black);
  outline: 0;
}

.button_theme_primary.button_hovered {
  background: var(--light-yellow);
}

.button_theme_primary.button_pressed {
  background: #ffe082;
}

/*
.button_theme_primary.button_disabled {
  background: var(--dark-10, rgba(13, 13, 13, 0.10));
  cursor: auto;
  pointer-events: none;
} */