.button_theme_secondary {
  background: var(--black);
  color: var(--white);
  outline: 0;
}

.button_theme_secondary.button_hovered {
  background: rgb(37, 37, 37);
}


.button_theme_secondary.button_pressed {
  background: #545454;

}

/*  
  .button_theme_secondary.button_disabled{
    background: var(--dark-10, rgba(13, 13, 13, 0.10));
    cursor: auto;
    pointer-events: none;
  } */