.header {
	display: flex;
	flex-direction: column;
	max-width: 1920px;
	width: 100%;
	margin: auto;
	color: var(--white);



	&__top {
		background-color: var(--black);
		width: 100%;
		height: 120px;
		padding: 6px 16px;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width:934px) {
			height: 60px;
			padding: 0px 16px;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		width: 100%;

		@media (max-width:934px) {
			display: grid;
			grid-template-columns: auto auto auto 46px;
			justify-content: normal;
			grid-template-areas: "logo networks button burger"
		}

		@media (max-width:630px) {
			position: relative;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: "networks burger";
		}
	}

	&__logo {
		@media (max-width:934px) {
			grid-area: logo;
			scale: 0.6;
			width: 155px;
			height: 48px;
			transform: translate(-52px, -12px);
		}

		@media (max-width:630px) {
			position: absolute;
			top: 0;
			left: 50%;
			width: 70px;
			height: 75px;
			transform: translate(-52px, -32px);

			.link__text {
				display: none;
			}
		}
	}

	&__contacts {
		.contacts__time {
			@media (max-width: 1140px) {
				display: none;
			}

			@media (max-width: 934px) {
				display: flex;
			}
		}

		@media (max-width: 934px) {
			/* display: none; */
		}
	}

	&__menu {
		padding: 0px 16px;
		display: flex;
		justify-content: space-around;
		width: 100%;
		height: 60px;
		color: var(--black);
		box-sizing: border-box;

		@media (max-width: 934px) {
			padding: 24px 16px;
			height: auto;
		}
	}

	&__menu_hidden {
		display: none;
	}

	&__container-menu {

		@media (max-width: 934px) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 24px;
		}

	}

	&__navigation {
		display: flex;
		height: 100%;
		margin-right: auto;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 32px;
		height: 100%;
		list-style-type: none;
		margin-block-start: 0;
		margin-block-end: 0;
		padding-inline-start: 0;


		@media (max-width: 934px) {
			flex-direction: column;
			align-items: start;
			gap: 24px;
		}
	}

	&__item {
		padding-bottom: 3px;
		border-bottom: 2px solid transparent;
	}

	&__item:hover {
		@media (hover:hover) {

			@media (min-width: 934px) {
				border-bottom: 2px solid var(--yellow);
			}

			@media (max-width: 934px) {
				color: var(--yellow);
			}
		}
	}

	&__button {
		display: block;
		border: none;
		background: none;
		color: inherit;
		text-decoration: none;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		cursor: pointer;
		line-height: 56px;
		padding: 0;

		@media (max-width: 934px) {
			line-height: normal;
			text-align: left;
		}
	}

	&__button-main {
		width: 215px;

		@media (max-width: 934px) {
			grid-area: button;
			justify-self: flex-end;
		}

		@media (max-width:630px) {
			width: 100%;

		}
	}

	&__networks {
		display: flex;
		align-items: center;
		gap: 24px;
		padding-right: 32px;

		@media (max-width:1110px) {
			display: none;
		}

		@media (max-width: 934px) {
			grid-area: networks;
			display: flex;
			padding: 0;
			justify-self: center;
		}

		@media (max-width: 630px) {
			grid-area: networks;
			justify-self: start;
		}
	}

	&__link {
		width: 22px;
		height: 22px;
	}

	&__link:nth-child(1) {
		background: url(../../icons/instagram-black.svg);

		@media (max-width:1110px) {
			background: url(../../icons/instagram-white.svg);
		}
	}

	&__link:nth-child(2) {
		background: url(../../icons/whatsapp-black.svg);

		@media (max-width:1110px) {
			background: url(../../icons/whatsapp-white.svg);
		}
	}

	&__link:nth-child(3) {
		background: url(../../icons/telegram-black.svg);

		@media (max-width:1110px) {
			background: url(../../icons/telegram-white.svg);
		}
	}

	&__icon {
		width: 22px;
		height: 22px;
	}

	&__burger {
		width: 32px;
		height: 32px;
		padding: 0;
		justify-self: end;
		background: none;
		background-image: url(../../icons/burger.svg);
		border: none;
		cursor: pointer;

		@media (min-width:934px) {
			display: none;
			grid-area: burger;
		}
	}

	&__burger_pressed {
		background-image: url(../../icons/cross-big-white.svg);
	}

}