.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	font-family: "Rubik", system-ui;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	border: none;
	transition: background 0.2s, border 0.2s;

	&_size {
		&_l {
			height: 60px;
		}

		&_m {
			height: 48px;
		}

		&_s {
			height: 40px;
		}
	}
}

.button img {
	width: 22px;
	height: 22px;
}