.color {


	&_black {
		color: var(--Black, #0B0B0B);
	}

	&_white {
		color: var(--White, #FFF);
	}

	&_red {
		color: var(--Red, #fc0000);
	}

	&_light-yellow {
		color: var(--Light-yellow, #FFD550);
	}

	&_dark-yellow {
		color: var(--Dark-yellow, #FFB629);
	}

	&_ex-lihgt-gray {
		color: var(--Ex-light-gray, #f7f7f7);
	}

	&_light-gray {
		color: var(--Light-gray, #f2f2f2);
	}

	&_normal-gray {
		color: var(--Normal-gray, #b3b3b3);
	}

	&_medium-gray {
		color: var(--Mediuml-gray, #808080);
	}

	&_dark-gray {
		color: var(--Dark-gray, #4d4d4d);
	}
}