.contacts {
	display: flex;
	gap: 24px;

	&__contact {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&__image {
		width: 64px;
		aspect-ratio: 1;
		flex-shrink: 0;
	}

	.link {
		white-space: nowrap;

		@media (max-width: 530px) {
			white-space: normal;
		}
	}

	/* &__time {
		@media (max-width: 1143px) {
			display: none;
		}
	} */

}