.service {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-radius: 8px;
	padding: 14px 24px 16px 14px;

	&__description {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__title {
		color: var(--black);
	}

	&__price {
		color: var(--yellow);
	}
}