.contacts_theme_dark {
	.contacts__time {
		.contacts__image {
			background: url(../../../icons/time-dark.svg) no-repeat;
		}
	}

	.contacts__mail {
		.contacts__image {
			background: url(../../../icons/mail-dark.svg) no-repeat;
		}
	}

	.contacts__phone {
		.contacts__image {
			background: url(../../../icons/phone-dark.svg) no-repeat;
		}
	}

}